@import '../../app/variables.module';

.nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 45px;
}

.nav-item {
  font-size: $h6-font-size;
  line-height: $h6-line-height;
  color: $heading-color;
}

.nav-item--positive {
  color: $success-color;
  padding: 10px 18px 10px 18px;
  border: 1px solid $success-color;
  border-radius: 5px;
}
