@import 'src/components/app/variables.module';

.article-card-full-view {
  display: grid;
  grid-template-columns: 1fr 215px;
  grid-template-rows: min-content min-content min-content;
  padding: 15px 15px 24px 19px;
  gap: 25px;
  background-color: $background-color-base;
  border-radius: 5px;
  filter: drop-shadow($shadow-2-box-shadow);
  width: 100%;
  max-width: 938px;
  min-height: 807px;
  box-sizing: border-box;
}

.article-card-full-view__description {
  grid-row-start: 1;
  grid-row-end: 3;
}

.article-card-full-view__body {
  grid-column-start: 1;
  grid-column-end: 3;
}
