@import 'src/components/app/variables.module';

.article-actions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.article-actions-item {
  font-size: $font-size-base;
  line-height: $line-height-base;
}

.article-actions-link {
  display: block;
  text-decoration: none;
  color: $success-color;
  padding: 5px 20px 3px 20px;
  border: 1px solid $success-color;
  border-radius: 5px;
}
