@import './variables.module.scss';
@import './fonts.module.scss';

html {
  height: 100%;
  background-color: $background-color-for-app;
  margin: 0;
}

body {
  width: 1440px;
  margin: 0 auto;
  min-height: 100%;
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: $font-size-base;
  line-height: 22px;
  font-weight: 400;
  background-color: transparent;
  color: $text-color;
  box-sizing: border-box;
}

body div {
  display: grid;
}
