@import 'src/components/app/variables.module';

.article-card-preview {
  display: grid;
  grid-template-columns: 1fr 215px;
  padding: 15px 15px 24px 19px;
  gap: 25px;
  background-color: $background-color-base;
  border-radius: 5px;
  filter: drop-shadow($shadow-2-box-shadow);
}

.article-card-preview__description {
  grid-row-start: 1;
  grid-row-end: 3;
}
