@import 'components/app/variables.module.scss';

.article-issue-info {
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
  align-items: flex-start;
}

.article-author-photo {
  background-image: url('../../../assets/icons/icon-author-avatar.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.article-author-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1px;
}

.article-author-name {
  margin: 0;
  color: $heading-color;
  font-size: $h6-font-size;
  line-height: $h6-line-height;
}

.article-issue-date {
  margin: 0;
  color: $text-color-secondary;
  font-size: $font-size-sm;
}
